<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--
       * 1. 一个appender子元素定义一个日志输出目的地
       * 2. 一个logger子元素定义一个日志写出器
    -->
    <!-- catalina.out -->
    <appender name="consoleAppend" class="org.apache.log4j.ConsoleAppender" >
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p %t (%F:%L)%n%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>
    
    <!-- info log -->
	<appender name="infoAppend" class="com.xhb.sockserv.util.MyDailyRollingFileAppender">  
        <param name="file" value="E:/project/workspace/collector-2016/meter-socket/logs/nhb.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.txt'" />  
        <param name="append" value="true"/>  
        <param name="MaxFileSize" value="50MB"/>  
        <!-- <param name="MaxBackupIndex" value="20"/>  最多20个文件-->  
		<param name="MaxBackupIndex" value="-1"/> <!-- 无限的文件数量，index顺序按时间顺序递增 -->  
        <param name="encoding" value="UTF-8"/>  
        <param name="threshold" value="INFO"/>  
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d %p %t (%F:%L)%n%m%n"/>  
        </layout>  
    </appender>  
    
    <!--
        root的作用(相当于全局的意思):
        1.[priority ]:指定默认的全局输出级别
        2.[appender-ref ]:指定一些默认的append（没有指出特殊包或者类，即那些没有指定<logger>元素的append）的输出；
    -->
	<root>
		<priority value="INFO" />
		<!-- 将 logger 中 additivity=true 的日志或者没有指定<logger>的append输出到控制台 -->
        <appender-ref ref="consoleAppend" />
        <!-- 将全局的 error 日志输出到error文件中 -->
		<appender-ref ref="infoAppend" />
    </root>

</log4j:configuration>